/* Estilos para el contenedor principal del Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #3f51b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que el Sidebar esté por encima de otros elementos */
}

/* Estilos para la sección de perfil de usuario */
.logo {
  display: flex;
  align-items: center;
  margin: 30px;
}

.logo-profile img {
  border-radius: 40%;
  margin: 15px;
}

/* Estilos para la sección de navegación */
.navigation {
  width: 100%;
  margin-bottom: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos para las secciones adicionales (notifications, quick-actions, settings) */
.notifications,
.settings, .logout {
  width: 100%;
}

/* Estilos para los botones en las secciones adicionales */
.notifications button,
.settings button, .logo button {
  width: 100%;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notifications button:hover,
.settings button:hover, .logout button:hover {
  background-color: #303f9f;
}

.user-info {
  position: absolute;
  bottom: 50px; /* Ajusta según sea necesario */
  left: 35px;
  display: flex;
  align-items: left;
  color: white;
}
.logout {
  position: absolute;
  bottom: 50px;
  left: 35px;
  display: flex;
  align-items: left;
  
}